/*-----------------------------------------------------------

	Theme Name: Adapt
	Theme URI: http://www.wpexplorer.com/
	Description: Free responsive portfolio/blog theme
	Author: WPExplorer
	Author URI: http://themeforest.net/user/WPExplorer?ref=wpexplorer
	Version: 2.01
    License: GNU General Public License version 3.0
    License URI: http://www.gnu.org/licenses/gpl-3.0.html

/*-----------------------------------------------------------------------------------*
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0 }
body { background: #fff; line-height: 1; }
ol, ul { list-style: none; padding: 0; margin: 0; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: "" }
blockquote, q { quotes: "" "" }
a img { border: 0 }
figure img { max-width: 100% }
header, hgroup, footer, section, article, aside { display: block }
#wpstats { display: none }
/*-----------------------------------------------------------------------------------*
/* = Body, Common Classes & Wrap
/*-----------------------------------------------------------------------------------*/
body { background: #fff url(images/bg.png); font-size: 13px; line-height: 1.7em; color: #555; font-family: 'Droid Serif', Helvetica Nue, Arial, Helvetica, sans-serif; }
a { text-decoration: none; color: #47c0c0; }
a:hover { text-decoration: none; color: #2e8484; }
p { margin: 0 0 1em }
strong { font-weight: 700 }
em { font-style: italic }
pre { margin: 20px 0; background: #eee; border: 1px solid #ddd; padding: 10px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
blockquote { border-left: 4px solid #80EB90; padding-left: 20px; margin: 30px 0px; }
.clear { clear: both }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }
.remove-margin { margin-right: 0 !important }
img { max-width: 100%; height: auto !important; }
.col-1 { clear: both; margin-left: 0 !important; } /* removes margin on first item of row and clears floats - very important! */
#page-featured-img { margin-bottom: 30px; }
#page-featured-img img { display: block; width: 100%; }
/*-----------------------------------------------------------------------------------*
/* = Structure
/*-----------------------------------------------------------------------------------*/
#wrap { background: #fff; margin: 0 auto; width: 980px; padding: 0 30px; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2); -moz-box-shadow: 0 0 10px rgba(0,0,0,.2); box-shadow: 0 0 10px rgba(0,0,0,.2); }
#main { margin: 25px 0 }
/*-----------------------------------------------------------------------------------*
/* = Headings
/*-----------------------------------------------------------------------------------*/
h1, h2, h3, h4 { color: #0C741D; line-height: 1.5em; font-weight: normal; word-spacing: 2px; }
h1 { font-size: 24px; margin-bottom: 20px; line-height: 1.2em; }
h2 { font-size: 18px }
h3 { font-size: 16px }
h4 { font-size: 14px }
h2, h3, h4 { margin-top: 30px; margin-bottom: 20px; }
h1 a, h2 a, h3 a, h4 a { color: #000 }
h2 a:hover, h3 a:hover, h4 a:hover { color: #47C0C0; text-decoration: none; }
.single-title { margin-bottom: 25px }
/*-----------------------------------------------------------------------------------*
/* = WordPress Styles
/*-----------------------------------------------------------------------------------*/
/*sticky*/
.sticky { }
/*gallery captio*/
.gallery-caption
/*by post author*/
.bypostauthor { }
/*aligns*/
.aligncenter, .alignnone { display: block; margin: 10px 0; }
.alignright { float: right; margin: 10px 0 10px 10px; }
.alignleft { float: left; margin: 10px 10px 10px 0; }
/*floats*/
.floatleft { float: left }
.floatright { float: right }
/*text style*/
.textcenter { text-align: center }
.textright { text-align: right }
.textleft { text-align: left }
/*captions*/
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
/*smiley reset*/
.wp-smiley { margin: 0 !important; max-height: 1em; }
/*blockquote*/
blockquote.left { margin-right: 20px; text-align: right; margin-left: 0; width: 33%; float: left; }
blockquote.right { margin-left: 20px; text-align: left; margin-right: 0; width: 33%; float: right; }
/*-----------------------------------------------------------------------------------*
/* = Headings
/*-----------------------------------------------------------------------------------*/
#page-heading { position: relative; margin-bottom: 30px; padding-bottom: 25px; border-bottom: 5px solid #0C741D; }
#page-heading h1, #page-heading h2 { font-size: 21px; line-height: 1em; margin: 0px !important; }
h2.heading { font-weight: normal; font-size: 18px; text-align: center; background: url(images/dot.png) center center repeat-x; margin: 0 0 25px; }
h2.heading span { background: #fff; padding: 0 20px; }
/*-------------------------------------------------*
/* = Header
/*-------------------------------------------------*/
#masterhead { position: relative; padding: 30px 0; border-bottom: 5px solid #0C741D; }
#logo { float: left; max-width: 30%; }
#logo a { font-size: 32px; font-weight: 700; color: #0C741D; padding: 0px; margin: 0px; text-decoration: none; }
#logo a:hover { color: #0C741D }
/*-------------------------------------------------*
/* =  Navigation
/*-------------------------------------------------*/
#masternav { right: -10px; top: 50%; margin-top: -20px; height: 40px; font-size: 11px; }
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { line-height: 1.0 }
.sf-menu ul { position: absolute; nowhitespace: afterproperty; top: -999em; width: 180px; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { width: 100% }
.sf-menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float: left; position: relative; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 10px; nowhitespace: afterproperty; top: 40px; /* match top ul list item height */ z-index: 99; ; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 180px; /* match ul width */ top: 0; ; }
/*** skin ***/
.sf-menu { float: left }
.sf-menu a { height: 40px; line-height: 40px; display: block; float: left; font-weight: 500; color: #999; padding: 0 10px; text-decoration: none; text-transform: uppercase; font-size: 12px; }
.sf-menu > li > a:focus, .sf-menu > li > a:hover, .sf-menu > li > a:active, .sf-menu > li.sfHover > a, #masternav .current-menu-item > a:first-child { color: #0C741D }
/*Subs*/
.sf-menu ul { padding: 0; font-size: 12px; background: #fff; border: 1px solid #ddd; }
.sf-menu ul ul { margin-top: -1px }
.sf-menu ul a { margin: 0; line-height: normal; height: auto; padding: 10px; display: block; float: none; color: #999; font-weight: normal; text-transform: none; }
.sf-menu ul a:focus, .sf-menu ul a:hover, .sf-menu ul a:active { color: #0C741D; background: #f9f9f9; }
.sf-menu ul .current-menu-item a { color: #fff }
.sf-menu ul li { border-bottom: 1px solid #ddd }
.sf-menu ul li:last-child { border-bottom: 0px }
/*-----------------------------------------------------------------------------------*/
/* = Home
/*-----------------------------------------------------------------------------------*/
#home-tagline { color: #000; text-align: center; font-size: 21px; line-height: 1.4em; margin-bottom: 25px; padding-bottom: 25px; border-bottom: 5px solid #0C741D; }
#home-highlights { margin-top: 45px; margin-bottom: 25px; margin-right: -20px; }
.hp-highlight { float: left; width: 230px; margin-right: 20px; margin-bottom: 20px; }
.highlight-last { background: none; margin-right: 0px; }
.hp-highlight p:last-child { margin-bottom: 0px }
.hp-highlight h2 { font-size: 16px; text-transform: uppercase; margin-top: 0px; margin-bottom: 15px; }
.hp-highlight a:hover h2 { color: #47C0C0 }
.hp-highlight img { display: block; float: left; margin-right: 10px; }
/*home portfolio*/
#home-projects { margin-bottom: 25px }
/*home blog*/
#home-posts { margin-right: -20px }
#home-posts .heading { margin-right: 20px }
.home-entry { width: 230px; float: left; margin-left: 20px; margin-bottom: 20px; font-size: 12px; }
.home-entry h3 { font-size: 13px; margin: 10px 0 0; font-weight: bold; }
.home-entry img:hover { opacity: 0.8; -moz-opacity: 0.8; -webkit-opacity: 0.8; }
/*-----------------------------------------------------------------------------------*/
/* = Image Slider
/*-----------------------------------------------------------------------------------*/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize }
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block }
* html .slides { height: 1% }
.no-js .slides > li:first-child { display: block }
/*slider wrap */
#slider-wrap { width: 100%; position: relative; margin-bottom: 30px; }
/*homepage specific*/
#home-slider-loader { text-align: center; font-size: 28px; height: 100px; line-height: 100px; color: #bbb; }
#home-slider-wrap { margin-bottom: 30px; position: relative; }
#home-slider-wrap img { width: 100%; display: block; margin: 0; padding: 0; }
#home-slider-wrap .flex-caption { position: absolute; width: 100%; bottom: 0; background: #000; background: rgba(0,0,0,0.8); color: #fff; font-weight: 700; font-size: 13px; text-align: center; box-sizing: border-box; }
#home-slider-wrap .flex-caption { padding: 15px; margin: 0; }
#home-slider-wrap .flex-caption p:last-child { margin: 0 }
/*control nav & arrows*/
.flex-control-nav { display: none }
.flex-direction-nav li a.flex-next, .flex-direction-nav li a.flex-prev { position: absolute; display: block; z-index: 101; font-size: 21px; height: 80px; width: 50px; line-height: 80px; color: #fff; background: #000; display: block; position: absolute; top: 50%; margin-top: -40px; cursor: pointer; text-align: center; -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4; }
.flex-direction-nav li a.flex-next { right: 0 }
.flex-direction-nav li a.flex-prev { left: 0 }
.flex-direction-nav li a.flex-prev:hover, .flex-direction-nav li a.flex-next:hover { text-decoration: none; background: #47C0C0; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }
/*-----------------------------------------------------------------------------------*
/* = Portfolio
/*-----------------------------------------------------------------------------------*/
.filterable-portfolio { margin-left: -20px; overflow: hidden; }
.no-margin { margin-right: 0px !important }
.no-border { border-right: 0px !important }
ul.filter { font-size: 12px; position: absolute; right: 0; top: 50%; margin-top: -25px; list-style: none; color: #999; height: 30px; line-height: 30px; }
ul.filter li { float: left; height: 25px; line-height: 25px; margin-left: 10px; }
li.sort { margin-right: 10px !important }
ul.filter a { display: block; background: #eee; color: #666; height: 25px; line-height: 25px; padding: 0 10px; }
ul.filter li:last-child a { margin: 0px }
ul.filter a:hover, ul.filter a.active { background: #3fb7b7 !important; color: #fff; }
/*portfolio items*/
.portfolio-item { float: left; width: 230px; margin-left: 20px; margin-bottom: 20px; position: relative; }
.portfolio-item a { display: block }
.portfolio-item a img { display: block }
.portfolio-item a img:hover { opacity: 0.8; -moz-opacity: 0.8; -webkit-opacity: 0.8; }
.portfolio-overlay { position: absolute; bottom: 0; left: 0; }
.portfolio-overlay h3 { font-size: 11px; font-weight: normal; margin: 0; text-transform: uppercase; max-width: 180px; padding: 5px 7px; background: #000; color: #fff; }
/*single portfolio*/
#single-portfolio { margin-bottom: 20px }
#single-portfolio-left { float: left; width: 55%; max-width: 530px; }
#portfolio-post-slider { position: relative }
#single-portfolio-right { float: right; width: 41%; }
#single-portfolio-left h1 { font-size: 18px; line-height: 1em; }
#single-portfolio-meta { margin-top: -10px; margin-bottom: 20px; font-weight: bold; }
#single-portfolio-meta h4 { margin-bottom: 10px }
#single-portfolio-meta a { display: block; float: left; margin-right: 5px; padding: 3px 7px; background: #eee; color: #666; }
#single-portfolio-meta a:hover { background: #fee825 !important; color: #000; }
/*-----------------------------------------------------------------------------------*
/* = Next/Prev Navigation
/*-----------------------------------------------------------------------------------*/
#single-nav { position: absolute; top: 50%; right: 0px; margin-top: -25px; }
#single-nav-left, #single-nav-right { float: left; margin-left: 10px; }
#single-nav a { font-size: 11px; color: #666; background: #eee; padding: 0 10px; height: 25px; line-height: 25px; display: block; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
#single-nav-left a:hover, #single-nav-right a:hover { color: #fff; background: #3fb7b7; }
#single-nav-left a span { margin-right: 4px }
#single-nav-right a span { margin-left: 4px; font-size: 11px; }
/*-----------------------------------------------------------------------------------*
/* = Entries
/*-----------------------------------------------------------------------------------*/
.loop-entry { margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #ddd; }
.loop-entry-thumbnail { float: left; margin-right: 25px; }
.loop-entry img:hover { opacity: 0.8; -moz-opacity: 0.8; -webkit-opacity: 0.8; }
.loop-entry h2 { margin: -5px 0 0; font-size: 18px; }
.loop-entry-meta { display: block; color: #999; font-size: 11px; margin: 0 0 10px; list-style: none; }
.loop-entry-meta li { display: inline; margin-right: 15px; margin-bottom: 5px; }
.loop-entry-meta i { font-size: 13px; color: #666; margin-right: 5px; }
/*-----------------------------------------------------------------------------------*
/* = Posts & Pages
/*-----------------------------------------------------------------------------------*/
.post { float: left; width: 70%; }
.full-width { float: none !important; width: 100% !important; }
.entry { margin-bottom: 20px }
.entry ul, .entry ol { margin-left: 30px; margin-bottom: 10px; list-style: inherit; }
.entry ol { list-style: decimal }
/*post meta */
.post-meta { display: block; color: #999; font-size: 11px; margin: -15px 0 10px; list-style: none; }
.post-meta li { float: left; margin-right: 15px; margin-bottom: 5px; }
.post-meta i { font-size: 13px; color: #666; margin-right: 5px; }
/*post thumb*/
.post-thumbnail { float: left; margin-right: 25px; }
/*post tags*/
.post-tags { margin-right: 10px; margin-top: 30px; font-size: 12px; }
.post-tags span { margin-right: 10px; color: #666; }
.post-tags a { }
/*-----------------------------------------------------------------------------------*
/* = Pagination
/*-----------------------------------------------------------------------------------*/
ul.page-numbers { clear: both }
ul.page-numbers li { display: block; float: left; margin: 0 4px 4px 0; text-align: center; font-size: 12px; margin-right: 5px; background: #eee; }
ul.page-numbers a, ul.page-numbers span { display: block; height: 25px; line-height: 25px; padding: 0 10px; color: #666; }
.page-numbers.current, .page-numbers.current:hover, .page-numbers a:hover { text-decoration: none; color: #FFF; background: #47C0C0; }
/*-----------------------------------------------------------------------------------*
/* = Comments
/*-----------------------------------------------------------------------------------*/
.comments-title { margin: 0 0 30px; font-size: 14px; font-weight: 700; color: #333; letter-spacing: 1px; text-transform: uppercase; margin-top: 0; padding: 15px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.comments-title  i { margin-right: 4px }
.comment-notes { font-size: 12px; color: #666; font-family: Georgia, "Times New Roman", Times, serif; }
.comment-list .children { margin-left: 25px }
.comment-list li article { position: relative }
.comment-author { position: absolute; top: 0; left: 0; border: 4px solid #eee; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.comment-author .avatar { display: block; max-size: 100%; }
.comment-details { margin-bottom: 40px; padding-bottom: 40px; margin-left: 80px; border-bottom: 1px solid #eee; font-size: 12px; }
.comment-meta { margin-bottom: 5px }
.comment-meta .fn { font-weight: bold; font-size: 14px; }
.comment-date a { font-size: 12px; color: #888; font-size: 11px; }
.comment-meta:after { content: ""; display: block; width: 15px; height: 1px; background: #ccc; margin: 10px 0; }
#comments .reply { text-align: right; }
.comment-reply-link { font-weight: 400; color: #666; font-size: 11px; text-decoration: none; margin: 5px 0; }
.comment-reply-link:hover { color: #666; text-decoration: underline; }
#cancel-comment-reply-link { color: #F00; font-size: 11px; }
#cancel-comment-reply-link:hover { text-decoration: none; color: #000; }
#respond { margin-bottom: 40px }
#respond h3 { font-size: 14px; font-weight: 700; color: #333; margin: 0; }
.logged-in-as { font-size: 13px }
label { font-size: 13px; font-weight: bold; color: #666; margin: 0; }
.comment-navigation { font-size: 12px }
.nav-next { text-align: right }
.form-allowed-tags { display: none }
span.required { color: #F00 }
.comment-form-comment label[for=comment] { display: none }
/*WP JetPack*/
.comment-subscription-form { font-size: 12px; margin-top: 20px; margin-bottom: 0px; }
.comment-subscription-form:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.comment-subscription-form input, .comment-subscription-form label { float: left; margin: 0px !important; margin-right: 5px !important; padding: 10px; }
/*-----------------------------------------------------------------------------------*/
/* = Form Styling
/*-----------------------------------------------------------------------------------*/
input[type=search], input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], textarea { background: #fff; border: 1px solid #ddd; display: block; font-size: 11px; color: #555; font-weight: 400; margin-left: 0; padding: 6px 10px; line-height: 1.6em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100%; -webkit-appearance: none; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; transition: all 0.4s ease; -webkit-apperance: none !important; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"] { max-width: 80%; width: 240px; }
input[type=search], input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"] { padding-top: 7px; padding-bottom: 7px; }
textarea { width: 100%; max-width: 100%; padding: 10px; }
input[type=search] { width: 100%; max-width: 100%; box-sizing: border-box; -webkit-apperance: none !important; padding: 8px 10px; font-size: 11px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus { outline: none }
input[type=search]::-webkit-input-placeholder { font-size: 11px; color: #949494; font-weight: 400; }
input[type=search]::-moz-placeholder { font-size: 11px; color: #949494; font-weight: 400; }
input[type=search]:-ms-input-placeholder { font-size: 11px; color: #949494; font-weight: 400; }
input[type=search]:-moz-placeholder { font-size: 11px; color: #949494; font-weight: 400; }
.entry input[type="button"], .entry input[type="submit"], #comments input[type="submit"], .theme-button { font-size: 12px; display: inline-block; background: #222; color: #fff; padding: 0 15px; height: 30px; line-height: 30px; font-size: 12px; border: 0; outline: 0; cursor: pointer; }
.entry input[type="button"]:hover, .entry input[type="submit"]:hover, #comments input[type="submit"]:hover, .theme-button:hover { text-decoration: none; background: #3fb7b7; }
/*contact form 7*/
div.wpcf7 .wpcf7-not-valid { border-color: #F00; box-shadow: 0 0 6px rgba(255,0,0,0.4); }
span.wpcf7-not-valid-tip { display: none !important }
div.wpcf7-validation-errors { margin: 0; padding: 10px; color: #c4690e; background: #fffdf3; text-align: center; border: 1px solid #e6bf4a; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
div.wpcf7-mail-sent-ng { margin: 0; padding: 10px; background: #ffe9e9; color: #d04544; border: 1px solid #e7a9a9; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.wpcf7 p { font-size: 11px; text-transform: uppercase; }
.wpcf7 input, .wpcf7 textarea { margin-top: 5px; }
/*-----------------------------------------------------------------------------------*
/* = Sidebar
/*-----------------------------------------------------------------------------------*/
#sidebar { width: 25%; float: right; }
.sidebar-box { margin-bottom: 25px }
.sidebar-box h4 { margin-top: 0px !important; margin-bottom: 10px; padding-bottom: 10px; text-transform: uppercase; font-size: 12px; border-bottom: 1px solid #eee; }
.sidebar-box h4 span { }
.sidebar-box ul { list-style: none; list-style-position: inside; margin: 0px; }
.sidebar-box li { margin-bottom: 5px }
/*-----------------------------------------------------------------------------------*/
/* = Widgets
/*-----------------------------------------------------------------------------------*/
#sidebar .widget_recent_entries ul, #sidebar .widget_nav_menu ul, #sidebar .widget_categories ul { margin: 0; list-style: none; }
.widget_recent_entries a, .widget_nav_menu a, .widget_categories a, .widget_pages a, .widget_links a, .widget_archive a, .widget_meta a { }
#sidebar .current-menu-item a, #sidebar .current-cat a, .widget_pages .current_page_item a { color: #000 !important }
#sidebar .widget_recent_entries a, #sidebar .widget_nav_menu ul a, #sidebar .widget_categories a { }
.widget_recent_entries a:hover, .widget_nav_menu ul a:hover, .widget_categories a:hover { text-decoration: none; color: #000; }
#footer .widget_recent_entries li, #footer .widget_nav_menu ul li, #footer .widget_categories li { padding-bottom: 7px; margin-bottom: 7px; border-bottom: 1px solid #333; }
#footer .widget_nav_menu ul ul a { padding:  }
/*tagcloud*/
.tagcloud a { line-height: 1em !important; display: block; float: left; padding: 7px 15px; background: #3fb7b7; margin-bottom: 4px; margin-right: 4px; color: #fff !important; -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.tagcloud a:hover { -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }
/*calendar*/
#sidebar #wp-calendar caption { text-align: right; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px; }
#sidebar #wp-calendar, #footer #wp-calendar tr { width: 100% }
#sidebar #wp-calendar th { text-align: center }
#sidebar #wp-calendar tbody { color: #666 }
#sidebar #wp-calendar tbody td { padding: 4px 0; text-align: center; background: #fff; border: 1px solid #ddd; }
#sidebar #wp-calendar tbody td:hover { background: #eee; color: #000; }
#sidebar #wp-calendar tbody a { display: block }
/*subscribe*/
#subscribe-blog #subscribe-field { margin-top: 5px; webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#subscribe-blog input { width: 100px !important }
#subscribe-blog #subscribe-field:focus { }
#subscribe-blog input[type="submit"] { cursor: pointer; padding: 5px; font-size: 11px; background: #ffd964 url("images/yellow-btn.png"); border: 1px solid #F9B653; color: #9C6533 !important; text-shadow: 1px 1px 0px rgba(255,255,255,0.4); box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#subscribe-blog input[type="submit"]:hover { opacity: 0.90 }
#sidebar #subscribe-blog { font-size: 12px }
#sidebar #subscribe-blog #subscribe-field { font-size: 11px; width: 100% !important; padding: 10px 5px !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#footer #subscribe-blog #subscribe-field { background: #444; border: 1px solid #2b2b2b; }
#footer #subscribe-blog #subscribe-field:focus { background-color: #555; color: #fff; }
/*-----------------------------------------------------------------------------------*
/* = Footer/Copyright
/*-----------------------------------------------------------------------------------*/
#footer { background: #0C741D; margin: 0 -30px; padding: 0 30px; color: #7f7f7f; font-size: 12px; }
#footer a { color: #fff; text-decoration: none; }
#footer a:hover { color: #3fb7b7 }
#footer  ul { margin-left: 0px !important }
/*footer widgets*/
#footer-widget-wrap { }
.footer-widget-col { float: left; width: 230px; margin-right: 20px; }
#footer-four.footer-widget-col { margin: 0 }
.footer-widget { color: #7f7f7f; margin: 25px 0; }
.footer-widget h6 { color: #fff; font-size: 13px; padding: 0 0 10px; margin: 0 0 15px; border-bottom: 1px solid #444; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
/*footer bottom*/
#footer-bottom { padding: 10px 0; border-top: 1px solid #333; }
#copyright { float: left; width: 70%; font-size: 10px; color: #000; }
#back-to-top { width: 20%; float: right; font-size: 10px; text-align: right; }
/*-----------------------------------------------------------------------------------*
/* = Search Bar
/*-----------------------------------------------------------------------------------*/
#searchbar { display: block; position: relative; width: 100%; margin-bottom: 4px; }
#search { position: relative; width: 100%; padding: 10px 30px 10px 10px; outline: none; border: 1px solid #ddd; color: #666; margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 11px; }
#search:focus { }
/*-----------------------------------------------------------------------------------*
/* = Isotope CSS Animations
/*-----------------------------------------------------------------------------------*/
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; -ms-transition-duration: 0.6s; -o-transition-duration: 0.6s; transition-duration: 0.6s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
/*-----------------------------------------------------------------------------------*
/* = Shortcode Tweaks
/*-----------------------------------------------------------------------------------*/
.symple-button { font-size: 12px; font-family: Droid Serif; font-weight: 600; }
.symple-pricing-table > div { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.symple-pricing-table .featured .symple-pricing-header { background: #47C0C0; border: none; }
.symple-pricing-table .featured .symple-pricing-header h5 { border-bottom: 1px solid #7ad1d1; }
.symple-pricing-table .featured .symple-pricing-cost { border-top: 1px solid #329191; }