/*-----------------------------------------------------------------------------------*
/* = General
/*-----------------------------------------------------------------------------------*/
img{ max-width: 100%; }
#masternav select { display: none; width: 100% !important; }
#masternav .selector { display: none; margin-top: 5px; height: 39px; }
/*-----------------------------------------------------------------------------------*
/* = Tablet
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#wrap{ width: 680px; }
	.hp-highlight, .portfolio-item, .home-entry, #footer-one,#footer-two,#footer-three,#footer-four{ width: 155px;  }
	#home-tagline{ font-size: 21px; }
	#search { text-indent: -9999px; }
	.loop-entry-thumbnail{width: 35%;}
}
/*-----------------------------------------------------------------------------------*
/* = Mobile Portrait
/*-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	/*hide*/
	#wrap{ width: 230px; }
	.flexslider .caption{ display: none; }
	#masternav { width: 100%; box-sizing: border-box; }
	#masternav .selector option{ background:#eee; -webkit-appearance:none; padding: 5px; }
	#masternav .selector, 
	#masternav .selector span{ cursor: pointer !important; -webkit-font-smoothing:antialiased; }
	#masternav .selector, 
	#masternav .selector *{ margin:0; padding:0; }
	#masternav .selector select{ top:0px; left:0px; }
	#masternav .selector{ width: 100%; font-size:14px; font-weight: 600; }
	#masternav .selector span:before { float: right; margin-right: 20px; content: "\f0c9"; font-family: 'FontAwesome'; }
	#masternav .selector span{ cursor:pointer; }
	#masternav .selector{ height: 39px; line-height: 40px; display: block; width: 100%; }
	#masternav .selector select:focus{outline:0; }
	#masternav .selector{ position:relative;  padding-left:10px;  overflow:hidden; }
	#masternav .selector span{ display:block;  overflow:hidden;  text-overflow:ellipsis;  white-space:nowrap; }
	#masternav .selector select{ position:absolute;  height:35px;  background:none;  width:97%; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  font-size:12px;  font-weight:500;  border:0 !important; }
	#masternav .selector,
	#masternav select { display: inline-block; }
	#masternav ul { display: none; }
	#masternav{ padding: 0; height: 40px; line-height: 40px; float: none; padding: 0 5px; margin: 0; background: #0C741D; color: #fff; top: 0; right: 0; cursor: pointer; }
	#logo { margin-top: 50px; text-align: center; float: none; max-width: 100%; }
	#logo a, #logo img { float: none; display: inline-block; }
	.hp-highlight, .portfolio-item, .home-entry { width: 230px; }
	.col-3 { margin-left: 0; }
	.footer-widget-col { width: 100%; }
	#portfolio-wrap{ margin-right:  0; }
	#home-tagline{ font-size: 16px; }
	.flex-direction-nav { display: none; }
	.flex-caption { display: none; }
	ul.filter{ position: inherit; height: auto; margin-top: 20px; margin-bottom: 0px; top: 0; left: 0; right: auto; }
	ul.filter li{ height: auto; margin-top: 10px; display: block; float: none; margin-right: 0; margin-left: 0; }
	ul.filter li a { padding: 5px; }
	#single-nav a{ font-size: 10px; }
	#single-nav-left, #single-nav-right { margin-left: 5px; }
	.post, #sidebar{ width: 100%; }
	.loop-entry-meta{ display: none; }
	.loop-entry h2{ margin-bottom: 10px; }
	#sidebar{ margin-top: 25px; padding-top: 25px; border-top: 5px solid #444; }
	#single-portfolio-left, #single-portfolio-right{float: none;width: 100%; }
	#single-portfolio-left { margin-bottom: 20px; }
	#page-heading{ text-align: center; }
	#single-nav{ position: inherit; margin-top: 20px; margin-left: -10px; text-align: center; }
	#single-nav-left, #single-nav-right { display: inline-block; float: none; }
	.children li{ margin: 0 !important; }
	#copyright,#back-to-top{ float: none; width: 100%; text-align: center; }
}
/*-----------------------------------------------------------------------------------*
/* = Mobile Landscape
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrap{ width: 99%; padding: 0 1px; }
	.hp-highlight, .portfolio-item, .home-entry { width: 200px; }
	.loop-entry-thumbnail{width: 33%;}
}

@media only screen and (max-width: 480px) {
	.col-1, .col-2, .col-3, .col-4 { margin-left: 0; }
}
